<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <appSettings>
    <add key="PathLog" value="C:\\Users\\Heat45\\Documents\\Visual Studio 2015\\Projects\\TransferInfo_AC\\RECIBE_IMAGENES_AC\\LOG" />
    <add key="LogActivado" value="true" />
    <add key="WebClientProtocolTimeOutTimeInSeconds" value="60"/>
    <add key="userWinston" value="ILuHuxl7JL5sTFh/3ciu4g=="/>
    <add key="pswWinston" value="ILuHuxl7JL5sTFh/3ciu4g=="/>
    <add key="oraUser" value="ULLYXaA4VEjSoS0J46tbwA=="/>
    <add key="oraPassword" value="ULLYXaA4VEjSoS0J46tbwA=="/>
    <add key="gsHexSeed" value="esucoN3na3jmDahrmOtiMRqO22IIWgxF"/>
    <add key="ipDataBase" value="xmZE6M0kLr460Na1bjyvKw=="/>
    <add key="portDataBase" value="gL+EekC5nw3lXuDjGDKlqQ=="/>
    <add key="sidDataBase" value="EEpC7FAX8fK8erOuBmqvIQ=="/>
  </appSettings>
</configuration>