<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TransferInfo_AC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PathLog" value="C:\\Users\\Heat45\\Documents\\Visual Studio 2015\\Projects\\TransferInfo_AC\\PUENTE_IMAGENES_AC\\LOG" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <applicationSettings>
    <TransferInfo_AC.Properties.Settings>
      <setting name="TransferInfo_AC_PUENTE_IMAGENES_AC_WS_PUENTE_IMAGENES"
        serializeAs="String">
        <value>http://localhost:7363/WS_PUENTE_IMAGENES.asmx</value>
      </setting>
      <setting name="TransferInfo_AC_RECIBE_IMAGENES_AC_WS_RECIBEIMAGENES"
        serializeAs="String">
        <value>http://localhost:24639/WS_RECIBEIMAGENES.asmx</value>
      </setting>
    </TransferInfo_AC.Properties.Settings>
  </applicationSettings>
</configuration>